<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.Prismfs">
    <uses-sdk android:minSdkVersion="13" android:targetSdkVersion="28" />
    <application android:label="Prismfs.Android"></application>
</manifest>
